body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eccd99;
  background-image: url('../assets/math.jpg');
  background-repeat: no-repeat;
  
  background-size: 100% 125%;
}

.grid-container {
    display: grid;
    gap: 10px;
    background-color: #0e88aa;
    padding: 10px;
    max-width: min-content;
    border-radius: 32px;
  } 
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .grid-item:hover {
    color: #fff;
    background-color: #333;
  }
  
  .item1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: 1;
    grid-row: 2 / span 1;
  }
  
  .item3 {
    grid-column: 2;
    grid-row: 2 / span 1;
  }
  .item4 {
    grid-column: 3;
    grid-row: 2 / span 1;
  }
  
  .item5 {
    grid-column: 1;
    grid-row: 3 / span 1;
  }

  .item6 {
    grid-column: 2;
    grid-row: 3 / span 1;
  }

  .item7 {
    grid-column: 3;
    grid-row: 3 / span 1;
  }

  .item8 {
    grid-column: 1;
    grid-row: 4 / span 1;
  }

  .item9 {
    grid-column: 2;
    grid-row: 4 / span 1;
  }

  .item10 {
    grid-column: 3;
    grid-row: 4 / span 1;
  }

  .item00 {
    grid-column: 2;
    grid-row: 5 / span 1;
  }

  .opera1 {
    grid-column: 4;
    grid-row: 2 / span 1;
  }
  
  .opera2 {
    grid-column: 4;
    grid-row: 3 / span 1;
  }
  
  .opera3 {
    grid-column: 4;
    grid-row: 4 / span 1;
  }

  .opera4 {
    grid-column: 3;
    grid-row: 5 / span 1;
  }

  .igual {
    grid-column: 1;
    grid-row: 5 / span 1;
  }
  
  .virgula {
    grid-column: 4;
    grid-row: 5 / span 1;
  }
  
  input {
    font-size: 32px;
    height: 128px;
  }

  main {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.grid-container div {
  border-radius: 12px;
}

#border-size {
  border-style: groove;
  border-width: 16px;
  border-color: #333;
  box-shadow: 30px 30px 30px;
}