.split {
    width: 50%;
    float: left;
}

._split {
    width: 50%;
    float: left;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
}

.div {
    padding: 20px;
    background-color: #008;
}